<h2 style="margin-left: 20px;"> How to use</h2>
<div class="layout-row">
	<h3 style="margin-left: 20px;"> 1. Wear your headphone</h3>
</div>
<div class="layout-row">
	<div flex="50" class="howto"><img src="img/a_howto_headphone.jpg" > </div>
	<div flex="50" class="howto"><span>To use this treatment you nead to wear a headphone and make sure you put it in the right ear (L headphone on left ear and vice versa).</span></div>
</div>
<div class="layout-row">
	<h3 style="margin-left: 20px;"> 2. Listen sound</h3>
</div>
<div class="layout-row">
	<div flex="50" class="howto"><img src="img/a_howto_listen.png" style="height=10px;"></div>
	<div flex="50" class="howto"><span>At first you're given a sample sound called the target. Listen carefully because you have to find it.</span></div>
</div>
<div class="layout-row">
	<h3 style="margin-left: 20px;"> 3. Find sound position</h3>
</div>
<div class="layout-row">
	<div flex="50" class="howto"><img src="img/a_howto_motionmode.jpg" style="height=10px;"></div>
	<div flex="50" class="howto"><span>In each game, you will find the target by moving your device. When you move your device around the sound will change respectively. In case your device does not have motion sensor you can drag the screen.</span></div>
</div>

<div class="layout-row">
	<h3 style="margin-left: 20px;"> 4. Select target</h3>
</div>
<div class="layout-row">
	<div flex="50" class="howto"><img src="img/a_howto_select.png" style="height=10px;"></div>
	<div flex="50" class="howto"><span>When you feel the target is right in front of you. Hit the select button to check if you're right or not.</span></div>
</div>
<div class="layout-row">
	<h3 style="margin-left: 20px;"> 5. Level</h3>
</div>
<div class="layout-row">
	<div flex="50" class="howto"><img src="img/level.png" style="height=10px;"></div>
	<div flex="50" class="howto"><span>We make the games more difficult one after one by adding another sounds named as background sound, animal voice, etc. So you have to try not to lose focus on the target.</span></div>
</div>

<div class="layout-row">
	<md-button class="md-raised" ng-click="goIntro()">Back</md-button>
	<span flex></span>
	<md-button class="md-raised" ng-click="goAbout()">Next</md-button>
</div>