<html lang="en" >
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Angular Material style sheet -->
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
  <link rel="stylesheet" href="css/docs.css">
  <link rel="stylesheet" href="css/style.css">

</head>
<body ng-app="ThesisApp" ng-cloak class="docs-body" layout="row" aria-label="Tinnitus Treatment" ng-controller="MainController as mainCtrl">
  <md-sidenav class="site-sidenav md-sidenav-left md-whiteframe-z2"
  md-component-id="left" hide-print
  md-is-locked-open="$mdMedia('gt-sm')">

  <header class="nav-header">
    <a ng-click="mainCtrl.goIntro()" class="docs-logo">
      <img src="img/app_icon.png" alt="" />
    </a>
  </header>

  <md-content flex role="navigation">
    <ul class="docs-menu" >

      <li class="md-button" ng-click="mainCtrl.goIntro()">
        <span>Introduction</span>
      </li>
      <li class="md-button" ng-click="mainCtrl.goHowTo()">
        <span>How to use</span>
      </li>
      <li class="md-button" ng-click="mainCtrl.goAbout()">
        <span>About us</span>
      </li>
    </ul>
  </md-content>
</md-sidenav>

<div layout="column" tabIndex="-1" role="main" flex>
  <md-toolbar class="md-whiteframe-glow-z1 site-content-toolbar">
    <div class="md-toolbar-tools docs-toolbar-tools">
      <div layout = "row" flex class= "fill-height layout-row flex">

      <md-button class="md-icon-button" ng-click="mainCtrl.openMenu()" hide-gt-sm aria-label="Toggle Menu">
          <md-icon md-svg-src="img/ic_menu_24px.svg"></md-icon>
        </md-button>
        <h2 class = "md-toolbar-item md-breadcrumb md-headline ng-isolate-scope">
          <span class = "md-breadcrumb-page">{{mainCtrl.title}}</span>
        </h2>
      </div>
    </div>
  </md-toolbar>

  <md-content md-scroll-y layout="column" flex>
    <ui-view></ui-view>
  </md-content>
</div>


<!-- Angular Material requires Angular.js Libraries -->
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
<!-- Angular Material Library -->
<script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>

<!-- Your application bootstrap  -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.3/angular-ui-router.js"></script>
<script src="js/angularApp.js"></script>

</body>
</html>